.SearchResult{
    font-size:12px;
    color:#333333;
}

.tips{
    float:left;
        padding: 30px 10px 30px 18px;
        color: #999999;
}

.result{
    padding: 10px 10px 8px 18px;
    font-size:12px;
    color: #333333;
    width:900px;
    float:left;
    height:24.67px;
    display: inline-flex;
    align-items:baseline;
}

.SongName{
    width:513px;
    text-align:left;

}

.Singer{
        text-align: left;
    width:150px;
        height: 14px;
        overflow: hidden;
}

.album{
        text-align:left;
    width:166px;
        height: 14px;
                overflow: hidden;
}

.result a:link,
.result a:visited {
    color: #0c73c2;
    text-decoration: none;
}

.result a:hover,
.result a:active {
    color: #0c73c2;
    text-decoration: underline;
}


